<div class="container-sm pt-4">
  <form
    class="pb-3 row g-3 align-items-center"
    [formGroup]="employeeForm"
    (ngSubmit)="onSubmit()"
  >
    <input type="hidden" name="id" formControlName="id" />
    <div class="col-md-3">
      <input
        autocomplete="name"
        class="form-control"
        formControlName="name"
        id="name"
        name="name"
        placeholder="Name"
        type="text"
      />
    </div>
    <div class="col-md-2">
      <input
        class="form-control"
        formControlName="age"
        id="age"
        name="age"
        placeholder="Age"
        type="number"
      />
    </div>
    <div class="col-md-7"></div>
    <div class="mt-0 col-md-4">
      <button class="btn btn-primary mt-2" [disabled]="!employeeForm.valid">
        @if (employeeForm.controls['id'].value) { Update } @else { Submit }
      </button>
    </div>
  </form>
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @if (employees.length) { @for (employee of employees; track employee) {
      <tr>
        <th>{{ employee.id }}</th>
        <td>{{ employee.name }}</td>
        <td>{{ employee.age }}</td>
        <td>
          <button class="btn btn-danger" (click)="onDelete(employee.id!)">
            <i class="bi bi-trash"></i>
          </button>
          <button class="btn btn-warning" (click)="onEdit(employee.id!)">
            <i class="bi bi-pencil-square"></i>
          </button>
        </td>
      </tr>
      } } @else {
      <tr>
        <td class="text-center" colspan="4">There is no data available!</td>
      </tr>
      }
    </tbody>
  </table>
</div>
